APP_NAME=Projexia
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080
DB_DATABASE=projexia
DB_USERNAME=projexia
DB_PASSWORD=
SESSION_SECURE_COOKIE=false

DB_PORT_HOST=55432
